---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p>
      I am a Computer Systems Engineering student at the University of El Salvador, Santa Ana. I consider myself a self-taught person, passionate about technology and web development. I like to learn new things and face challenges that allow me to grow professionally.    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Computer Systems Engineering"
      subtitle="2020 to present at Universidad de El Salvador, Santa Ana, El Salvador"
    />
    <TimeLineElement
      title="General Baccalaureate"
      subtitle="2018 to 2019 Complejo Educativo Católico María Auxiliadora, Santa Ana, El Salvador"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="FullStack Developer at ChivoTour"
      subtitle="From February 2023 to December 2023 in ChivoTour Project"
    >
      During 2023, I participated in the development of a project called ChivoTour
       <a href="/projects/chivo-tour" class="text-sky-600">see project</a>,
        a website for Tourist Sites in El Salvador. My main role was to develop the 
        module for uploading new tourist sites. I used technologies such as Quasar, 
        Firebase, and CouchDB. This project allowed me to gain comprehensive experience 
        in both frontend and backend development, understanding the entire lifecycle of 
        a web application, from creating mockups to deploying to production.
      <br><br>
        Through this project, I learned:
      <br>
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>Good development practices.</li>
        <li>Effective collaboration within a team of developers, working on a shared repository on GitHub.</li>
        <li>Agile development methodologies, actively participating in sprints.</li>
        <!-- <li>Además, desarrollo mis propios proyectos personales para seguir mejorando mis conocimientos en el desarrollo web.</li> -->
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="FullStack Developer at BidAssist"
      subtitle="From June 22, 2023 to July 2, 2023 in Backend Web Development Course - Fusalmo"
    >
      During the Backend Web Development course at Fusalmo, I developed a project called BidAssist <a href="/projects/bidassist" class="text-sky-600">see project</a>, a real-time auction web application. My main role was to develop the core backend module and the WebSocket server, using technologies such as Node.js, Express, MongoDB, and SocketIO. I also worked with Angular to consume the backend and develop the main web interface and the real-time chat interface. This project allowed me to gain experience in developing RESTful APIs and implementing authentication and authorization in a web application.
      <br><br>
      Through this project, I learned:
      <br>
      <ul class="list-disc mx-6 grid gap-2">
        <li>Development of RESTful APIs.</li>
        <li>Collaborative development with a team, using Jira and GitHub.</li>
        <li>Management of NoSQL databases.</li>
        <li>Development of scalable and secure web applications.</li>
        <li>Implementation of authentication and authorization in a web application.</li>
      </ul>
  </TimeLineElement>
  
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="/Certificado-Fusalmo.pdf" target="_blank">Backend Web Development (188 hours) - Fusalmo <span class="text-sky-600">(See certificate)</span></a>
    </li>
    <!-- <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="mb-5">
      <div class="text-xl w-full font-bold">Languages</div>
  </div>
  <ul class="list-disc md:columns-4 columns-2 mx-6 mb-5">
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Java</li>
  </ul>

  <div class="mb-5">
      <div class="text-xl w-full font-bold">Frameworks, Libraries, and Execution Environments</div>
  </div>
  <ul class="list-disc md:columns-4 columns-2 mx-6 mb-5">
      <li>Node.js</li>
      <li>Express</li>
      <li>React</li>
      <li>Vue.js</li>
      <li>Quasar</li>
      <li>SocketIO</li>
      <li>Moongose</li>
      <li>JWT</li>
      <li>OAuth 2.0</li>
      <li>TailwindCSS</li>
  </ul>

  <div class="mb-5">
      <div class="text-xl w-full font-bold">Databases</div>
  </div>
  <ul class="list-disc md:columns-4 columns-2 mx-6 mb-5">
      <li>MongoDB</li>
      <li>MySQL</li>
      <li>CouchDB</li>
      <li>Firebase</li>
  </ul>

  <div class="mb-5">
      <div class="text-xl w-full font-bold">Development Tools</div>
  </div>
  <ul class="list-disc md:columns-4 columns-2 mx-6 mb-5">
      <li>Docker</li>
      <li>Git</li>
      <li>GitHub</li>
      <li>Visual Studio Code</li>
      <li>Figma</li>
  </ul>
  <div class="mb-5">
      <div class="text-xl w-full font-bold">Testing Tools</div>
  </div>
  <ul class="list-disc md:columns-4 columns-2 mx-6 mb-5">
      <li>Jest</li>
      <li>Postman</li>
      <li>Selenium</li>
  </ul>
  <div class="mb-5">
      <div class="text-xl w-full font-bold">Cloud Services</div>
  </div>
  <ul class="list-disc md:columns-4 columns-2 mx-6 mb-5">
      <li>AWS</li>
      <li>Heroku</li>
      <li>Netlify</li>
      <li>MongoDB Atlas</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>
  <ul class="list-disc md:columns-4 columns-2 mx-6 mb-5">
    <li>Spanish - Native</li>
    <li>English - Intermediate</li>
  </ul>

</BaseLayout>
