---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

// const posts = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">¡Hey! 👋</div>
    <div class="text-5xl font-bold">I'm Bryan Quezada</div>
    <div class="text-3xl py-3 font-bold">Web Developer</div>    
    <div class="py-2">
      <text class="text-lg">
        Constantly learning and striving to enhance skills and expand knowledge.
        <br>
        Thriving on challenging projects that foster professional and personal growth.
      </text>    
    </div>
    <div class="mt-8">
      <a class="btn mr-2 mb-5 w-36" href="/CV-BryanQuezada.pdf" target="_blank">Download CV</a>
      <a href="https://www.linkedin.com/in/bryan-alfonso-quezada-jim%C3%A9nez-8815a11b4/" target="_blank" class="btn btn-outline mr-2 mb-5 w-36">
        LinkedIn
      </a>
      <a href="https://github.com/BryanQuezada1910" target="_blank" class="btn btn-outline mr-2 mb-5 w-36">
        GitHub
      </a>
      <a href="mailto:alfonso191001@gmail.com" target="_blank" class="btn btn-outline mr-2 mb-5 w-36">
        Contact me 📧
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="ChivoTour"
    img="/chivotour.webp"
    desc="Web and mobile application of tourist sites in El Salvador"
    url="/projects/chivotour"
    badge="University project"
  />
  <HorizontalCard
    title="BidAssist"
    img="/bidassist.webp"
    desc="Real-time auction web application"
    url="/projects/bidassist"
    badge="1° place for best project"
  />
  <!-- <HorizontalCard
    title="TO-DO App"
    img="/post_img.webp"
    desc="Aplicación web para gestionar tareas."
    url="/projects/to-do-app"
    badge="Proyecto personal"
  /> -->
  <div class="mt-4">
    <a href="/projects" target="_self" class="btn btn-outline ml-5 w-36">
      View more
    </a>
  </div>
</BaseLayout>
