---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">隆Hey! </div>
    <div class="text-5xl font-bold">Soy Bryan Quezada</div>
    <div class="text-3xl py-3 font-bold">Desarrollador Web</div>
    <div class="py-2">
      <text class="text-lg">
        Siempre estoy en constante aprendizaje para mejorar mis habilidades y conocimientos. <br>Apasionado por el desarrollo web y la programaci贸n.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="../../public/CV-BryanQuezada.pdf" download target="_blank">Descargar CV</a>
      <a href="https://www.linkedin.com/in/bryan-alfonso-quezada-jim%C3%A9nez-8815a11b4/" target="_blank" class="btn btn-outline ml-5">
        LinkedIn
      </a>
      <a href="https://github.com/BryanQuezada1910" target="_blank" class="btn btn-outline ml-5">
        GitHub
      </a>
      <a href="mailto:alfonso191001@gmail.com" target="_blank" class="btn btn-outline ml-5">
        Correo
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mis proyectos {"</>"}</div>
  </div>

  <HorizontalCard
    title="ChivoTour"
    img="/chivotour.webp"
    desc="Aplicaci贸n web y movil de sitios tur铆sticos en El Salvador."
    url="/blog/chivo-tour"
    badge="Proyecto de Universidad"
  />
  <HorizontalCard
    title="BidAssist"
    img="/bidassist.webp"
    desc="Aplicaci贸n web de subastas en tiempo real."
    url="#"
    badge="Primer lugar a mejor proyecto"
  />
  <HorizontalCard
    title="TODO App"
    img="/post_img.webp"
    desc="Aplicaci贸n web para gestionar tareas."
    url="#"
    badge="Proyecto personal"
  />
</BaseLayout>
