---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    {today.getFullYear()} - Bryan Quezada 
    <span>Contactame: <a href="mailto:alfonso191001@gmail.com" class="text-sky-600">alfonso191001@gmail.com</a></span>
  </div>
  <!-- <div class="inline opacity-75">
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template⚡️</a>
  </div> -->
</footer>
<style></style>
